<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Centogene</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="">Time</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="vat">Vat</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="exchange">Exchange</a>
    </li>
  </ul>
</nav>
