<div class="login-page">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <h1>Vat Information</h1>
      <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
      <form role="form" [formGroup]="form">
        <div class="row">
          <div class="col-12 form-group">
            <label>Provide number (with country prefix)</label>
            <input class="form-control" formControlName="code"
                   style="text-transform:uppercase" type="text">
          </div>
        </div>
        <button type="button" class="btn btn-info" [disabled]="!form.valid" (click)="onRequest()">Check details</button>
      </form>
      <div *ngIf="vatInfo">
        <div class="row">
          <div class="col-12">
            <h2>Company Details:</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <strong>Company name</strong>
          </div>
          <div class="col-6">
            {{vatInfo.company_name}}
          </div>
        </div>


        <div class="row">
          <div class="col-6">
            <strong>Company address</strong>
          </div>
          <div class="col-6">
            {{vatInfo.company_address}}
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <strong>Country code</strong>
          </div>
          <div class="col-6">
            {{vatInfo.country_code}}
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <strong>Vat number</strong>
          </div>
          <div class="col-6">
            {{vatInfo.vat_number}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
