<div class="login-page">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <h1>Exchange Conversion</h1>
      <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
      <form role="form" [formGroup]="form">
        <div class="row">
          <div class="col-6 form-group">
            <label>Source Currency</label>
            <input class="form-control" formControlName="from"
                   style="text-transform:uppercase" type="text">
          </div>
          <div class="col-6 form-group">
            <label> Target Currency</label>
            <input class="form-control" formControlName="to"
                   style="text-transform:uppercase" type="text">
          </div>
        </div>
        <div class="row">
          <div class="col-12 form-group">
            <label> Amount </label>
            <input class="form-control" formControlName="amount">
          </div>
        </div>
        <button type="button" class="btn btn-info" [disabled]="!form.valid" (click)="onConvert()">Convert</button>
      </form>
      <div *ngIf="conversionResult" class="row">
        <div class="col-12">
          <h2>Conversion result is: {{conversionResult}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
