<div class="row">
  <button class="btn-toolbar btn-lg btn-success centered" (click)="onGetTime()">Get current time</button>
</div>
<div class="row">
  <h2 *ngIf="date" class="centered">{{date | date: 'full'}}</h2>
</div>
<div class="row">
  <h2 *ngIf="error" class="centered alert-danger">{{error}}</h2>
</div>
